.component-dashboard {
  background: $grey--ten;
  height: 100%;
  padding-bottom: 2rem;
  &__page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $grey--three;
    padding: 2rem;
    &__title-wrapper {
      display: flex;
      gap: 2.5rem;
      align-items: center;
      @media screen and (max-width: 959px) {
        margin-bottom: 1rem;
      }
    }
    &__icon {
      padding: 1.5rem;
      border-radius: 0.5rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      background: $white;
      @media screen and (max-width: 959px) {
        display: none;
      }
    }
    &__title {
      text-transform: capitalize;
      h4 {
        font-weight: 400;
        color: $black--three;
      }
      p {
        color: $grey;
        padding: 0;
        margin: 0;
      }
    }
    &__star-btn {
      color: $white !important;
      background: $black !important;
      margin-right: 1rem;
    }
    @media screen and (max-width: 959px) {
      display: block;
      text-align: center;
      padding: 1rem;
    }
  }
  &__main-section {
    padding: 2rem 2rem 0;
    display: flex;
    gap: 2rem;
    & > div {
      flex: 1;
      height: calc(100vh - 350px);
      @media screen and (max-width: 959px) {
        margin: 2rem 0;
      }
    }
    &__task-btn-wrapper {
      button:first-child {
        color: $blue--one !important;
        margin-right: 1rem;
      }
      text-align: right;
    }

    &__tasks {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      padding: 1rem 1.5rem;
      border-bottom: 1px solid $grey--nine;
    }
    &__task-desc {
      width: 100%;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      gap: 1rem;
      h5 {
        font-weight: 500;
        font-size: 1rem;
        color: $black--three;
      }
      p {
        margin: 0;
        font-size: 0.75rem;
        font-style: italic;
        color: $grey;
      }
    }
    &__img {
      object-fit: cover;
      width: 50px;
      height: 50px;
    }
    &__droppable {
      height: 84%;
      overflow-y: auto;
      overflow-x: hidden;
    }
    @media screen and (max-width: 959px) {
      display: block;
      padding: 0 1rem;
    }
  }
}
